## rename() function

In Pandas, the `rename()` function is used to change the names of columns or index labels in a DataFrame. It allows you to rename specific columns or index labels to make your data more understandable or to align with your analysis needs. Here's all about the `rename()` function in Pandas:

1. **Renaming Columns**:
   To rename columns in a DataFrame, you can use the `rename()` function and pass a dictionary with the current column names as keys and the desired new names as values:

   ```python
   import pandas as pd

   # Creating a DataFrame
   data = {
       'Old_Name_1': [1, 2, 3],
       'Old_Name_2': [4, 5, 6],
   }
   df = pd.DataFrame(data)

   # Rename columns using the rename() function
   df.rename(columns={'Old_Name_1': 'New_Name_1', 'Old_Name_2': 'New_Name_2'}, inplace=True)
   ```

   The `inplace=True` parameter modifies the DataFrame in place, without the need to assign it back to a variable. If `inplace=False` or not specified, a new DataFrame with the renamed columns will be returned.

2. **Renaming Index Labels**:
   Similar to renaming columns, you can rename index labels using the `rename()` function and the `index` parameter:

   ```python
   # Creating a DataFrame with custom index labels
   data = {
       'Column1': [10, 20, 30],
       'Column2': [40, 50, 60],
   }
   df = pd.DataFrame(data, index=['Row1', 'Row2', 'Row3'])

   # Rename index labels using the rename() function
   df.rename(index={'Row1': 'New_Row1', 'Row2': 'New_Row2', 'Row3': 'New_Row3'}, inplace=True)
   ```

   As with column renaming, you can use `inplace=True` to modify the DataFrame in place, or `inplace=False` (or not specified) to return a new DataFrame with the renamed index labels.

3. **Renaming Both Columns and Index Labels**:
   You can rename both columns and index labels simultaneously by using both `columns` and `index` parameters:

   ```python
   # Rename both columns and index labels
   df.rename(columns={'Old_Name_1': 'New_Name_1', 'Old_Name_2': 'New_Name_2'},
             index={'Row1': 'New_Row1', 'Row2': 'New_Row2', 'Row3': 'New_Row3'}, inplace=True)
   ```

4. **Renaming with a Function**:
   Instead of providing a dictionary for renaming, you can also use a function to transform the column or index labels:

   ```python
   # Rename columns using a function
   df.rename(columns=lambda x: x.upper(), inplace=True)
   ```

   In this example, we use the `upper()` method to change all column names to uppercase.

5. **Handling Duplicate Names**:
   If you want to rename multiple columns to the same name, you need to set the `inplace` parameter to `False`, as you cannot have duplicate column names in a DataFrame:

   ```python
   # Renaming multiple columns to the same name
   df.rename(columns={'Old_Name_1': 'Common_Name', 'Old_Name_2': 'Common_Name'}, inplace=False)
   ```

The `rename()` function in Pandas is a versatile tool that allows you to modify column names, index labels, or both, making your data more meaningful and easier to work with during data analysis.

In [3]:
import pandas as pd

### Renaming Columns:

In [5]:
# Creating a DataFrame
data = {
    'Old_Name_1': [1, 2, 3],
    'Old_Name_2': [4, 5, 6],
}
df = pd.DataFrame(data)
df

   Old_Name_1  Old_Name_2
0           1           4
1           2           5
2           3           6

In [8]:
# Rename columns using the rename() function
df.rename(columns={'Old_Name_1': 'New_Name_1', 'Old_Name_2': 'New_Name_2'}, inplace=True)
df

   New_Name_1  New_Name_2
0           1           4
1           2           5
2           3           6

### Renaming Index Labels:

In [10]:
# Creating a DataFrame with custom index labels
data = {
    'Column1': [10, 20, 30],
    'Column2': [40, 50, 60],
}
df = pd.DataFrame(data, index=['Row1', 'Row2', 'Row3'])
df

      Column1  Column2
Row1       10       40
Row2       20       50
Row3       30       60

In [11]:
# Rename index labels using the rename() function
df.rename(index={'Row1': 'New_Row1', 'Row2': 'New_Row2', 'Row3': 'New_Row3'}, inplace=True)
df

          Column1  Column2
New_Row1       10       40
New_Row2       20       50
New_Row3       30       60

### Renaming Both Columns and Index Labels:

In [13]:
# we can rename both columns and index labels simultaneously by using both columns and index parameters:

# Rename both columns and index labels
df.rename(columns={'Old_Name_1': 'New_Name_1', 'Old_Name_2': 'New_Name_2'},
          index={'Row1': 'New_Row1', 'Row2': 'New_Row2', 'Row3': 'New_Row3'}, inplace=True)
df

          Column1  Column2
New_Row1       10       40
New_Row2       20       50
New_Row3       30       60

In [14]:
# we can rename both columns and index labels simultaneously by using both columns and index parameters:

# Rename both columns and index labels
df.rename(columns={'Column1': 'New_Name_11', 'Column2': 'New_Name_22'},
          index={'New_Row1': 'NewRow11', 'New_Row2': 'NewRow22', 'New_Row3': 'NewRow33'}, inplace=True)
df

          New_Name_11  New_Name_22
NewRow11           10           40
NewRow22           20           50
NewRow33           30           60

### Renaming with a Function

In [16]:
# Instead of providing a dictionary for renaming, you can also use a function to transform the column or index labels:

# Rename columns using a function
df.rename(columns=lambda x: x.upper(), inplace=True)
df

          NEW_NAME_11  NEW_NAME_22
NewRow11           10           40
NewRow22           20           50
NewRow33           30           60

In [17]:
# Rename columns using a function
df.rename(columns=lambda y: y.upper(), inplace=True)
df

          NEW_NAME_11  NEW_NAME_22
NewRow11           10           40
NewRow22           20           50
NewRow33           30           60

### Handling Duplicate Names:

In [19]:
# If you want to rename multiple columns to the same name, you need to set the inplace parameter to False, as you cannot have duplicate column names in a DataFrame:

# Renaming multiple columns to the same name
df.rename(columns={'Old_Name_1': 'Common_Name', 'Old_Name_2': 'Common_Name'}, inplace=False)

          NEW_NAME_11  NEW_NAME_22
NewRow11           10           40
NewRow22           20           50
NewRow33           30           60

In [20]:
# If you want to rename multiple columns to the same name, you need to set the inplace parameter to False,
# as you cannot have duplicate column names in a DataFrame:

# Renaming multiple columns to the same name
df.rename(columns={'NEW_NAME_11': 'Common_Name', 'NNEW_NAME_22': 'Common_Name'}, inplace=False)

          Common_Name  NEW_NAME_22
NewRow11           10           40
NewRow22           20           50
NewRow33           30           60