### **Pickling and Unpickling in Python**

Pickling and unpickling are processes used to serialize and deserialize Python objects. Serialization is the process of converting an object into a format that can be easily stored or transmitted, such as a binary or text representation. Deserialization is the process of reconstructing the original object from the serialized format.

In Python, the `pickle` module provides functionalities for pickling (serialization) and unpickling (deserialization) objects. The primary purpose of pickling is to store Python objects persistently, so they can be saved to disk or sent over a network, and later retrieved and reconstructed (unpickled) into their original form.

**1. Pickling:**
To pickle an object, you first need to import the `pickle` module and then use the `dump()` or `dumps()` method to serialize the object and save it to a file or as a string, respectively.

**Example - Pickling an Object to a File:**

In [38]:
import pickle

data = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Pickle the data and save it to a file named 'data.pickle'
with open('data.pickle', 'wb') as file:
    pickle.dump(data, file)
    
# we can also write this
pickle.dump(data,open('data.pickle','wb'))

In [2]:
data

{'name': 'Alice', 'age': 30, 'city': 'New York'}

**Example - Pickling an Object to a String:**

In [3]:
data = {'name': 'Alice', 'age': 30, 'city': 'New York'}

# Pickle the data and store it as a string
pickled_string = pickle.dumps(data)

In [5]:
pickled_string

b'\x80\x04\x95.\x00\x00\x00\x00\x00\x00\x00}\x94(\x8c\x04name\x94\x8c\x05Alice\x94\x8c\x03age\x94K\x1e\x8c\x04city\x94\x8c\x08New York\x94u.'

In [4]:
data

{'name': 'Alice', 'age': 30, 'city': 'New York'}


**2. Unpickling:**
To unpickle an object, you use the `load()` or `loads()` method of the `pickle` module to read the serialized data from a file or a string, respectively, and reconstruct the original Python object.

**Example - Unpickling an Object from a File:**

In [8]:
# Unpickle the data from the file 'data.pickle'
with open('data.pickle', 'rb') as file:
    data = pickle.load(file)
    print(data) 
    
# we can also write this
pickle.load(open(data.pkl))

{'name': 'Alice', 'age': 30, 'city': 'New York'}

**Notes:**
- When pickling to a file (`dump()`), use binary mode (`'wb'`) to ensure proper serialization.
- Similarly, when unpickling from a file (`load()`), use binary mode (`'rb'`).
- Pickling and unpickling are not secure against malicious data. Only unpickle data from trusted sources to avoid security risks.


**Example - Unpickling an Object from a String:**

In [17]:
pickled_string = b'\x80\x04\x95\x15\x00\x00\x00\x00\x00\x00\x00}\x94(\x8c\x04name\x94\x8c\x05Alice\x94\x8c\x03age\x94K\x1e\x8c\x04city\x94\x8c\x08New York\x94u.'
print(pickled_string) 

# Unpickle the data from the string
data = pickle.loads(pickled_string)
print(data)

b'\x80\x04\x95\x15\x00\x00\x00\x00\x00\x00\x00}\x94(\x8c\x04name\x94\x8c\x05Alice\x94\x8c\x03age\x94K\x1e\x8c\x04city\x94\x8c\x08New York\x94u.' /n
{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [19]:
import seaborn as sns

In [21]:
df = sns.load_dataset('tips')

In [22]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [23]:
filename = 'new_file.pkl'

In [24]:
# serialize process
pickle.dump(df,open(filename,'wb'))

In [25]:
# serialize process
pickle.load(open(filename,'rb'))

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [28]:
dic_example = {'name':'Ayman', 'lastname':'Ijaz'}

dic_example

{'name': 'Ayman', 'lastname': 'Ijaz'}

In [29]:
pickle.dump(dic_example,open('dic_test.pkl', 'wb'))

In [30]:
dd = pickle.dump(dic_example,open('dic_test.pkl', 'wb'))

In [32]:
type(dd)

NoneType

In [34]:
dd.shape()

AttributeError: 'NoneType' object has no attribute 'shape'

In [35]:
# unpikle
pickle.load(open('dic_test.pkl','rb'))

{'name': 'Ayman', 'lastname': 'Ijaz'}

In [45]:
# another example
import pandas as pd

data_complex = {
    'name': 'ABCD',
    'scores': [90, 85, 78],
    'info': {
        'address': '123 Main St',
        'phone': '555-1234'
    }
}
data_complex

{'name': 'ABCD',
 'scores': [90, 85, 78],
 'info': {'address': '123 Main St', 'phone': '555-1234'}}

In [46]:

# Pickle the complex data structure and store it as a string
pickled_complex = pickle.dumps(data_complex)

In [47]:
# Unpickle the complex data structure from the string
loaded_complex = pickle.loads(pickled_complex)
print(loaded_complex['name'])       
print(loaded_complex['scores'])     
print(loaded_complex['info']['address'])  
print(loaded_complex['info']['phone'])

ABCD
[90, 85, 78]
123 Main St
555-1234