# Data warangling - Indicator Variable (or Dummy Variable) - part 5


### What is an indicator variable?
An indicator variable (or dummy variable) is a numerical variable used to label categories. They are called 'dummies' because the numbers themselves don't have inherent meaning.

Why we use indicator variables?

We use indicator variables so we can use categorical variables for regression analysis in the later modules.

Example
We see the column "fuel-type" has two unique values: "gas" or "diesel". Regression doesn't understand words, only numbers. To use this attribute in regression analysis, we convert "fuel-type" to indicator variables.

We will use pandas' method 'get_dummies' to assign numerical values to different categories of fuel type.

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('automobile_4')
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-L/100km,price,city-L/100km,length_new,length_zscore,horsepower-binned
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,9.0,111,5000.0,21,8.703704,13495.0,11.190476,0.413433,-0.438315,Low
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,9.0,111,5000.0,21,8.703704,16500.0,11.190476,0.413433,-0.438315,Low
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,9.0,154,5000.0,19,9.038462,16500.0,12.368421,0.449254,-0.243544,Medium
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,10.0,102,5500.0,24,7.833333,13950.0,9.791667,0.529851,0.194690,Low
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,8.0,115,5500.0,18,10.681818,17450.0,13.055556,0.529851,0.194690,Low

In [2]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-L/100km', 'price', 'city-L/100km', 'length_new',
       'length_zscore', 'horsepower-binned'],
      dtype='object')

In [3]:
df['fuel-type'].value_counts()

fuel-type
gas       181
diesel     20
Name: count, dtype: int64

In [4]:
dummy_variable_1 = pd.get_dummies(df["fuel-type"])
dummy_variable_1.head()

   diesel   gas
0   False  True
1   False  True
2   False  True
3   False  True
4   False  True

In [5]:
# Change the column names for clarity:

dummy_variable_1.rename(columns={'gas':'fuel-type-gas', 'diesel':'fuel-type-diesel'}, inplace=True)
dummy_variable_1.head()

   fuel-type-diesel  fuel-type-gas
0             False           True
1             False           True
2             False           True
3             False           True
4             False           True

In the dataframe, column 'fuel-type' has values for 'gas' and 'diesel' as 0s and 1s now.

In [6]:
# merg data frame 'df' and dummy_variable_1

df = pd.concat([df, dummy_variable_1], axis=1)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,peak-rpm,city-mpg,highway-L/100km,price,city-L/100km,length_new,length_zscore,horsepower-binned,fuel-type-diesel,fuel-type-gas
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,5000.0,21,8.703704,13495.0,11.190476,0.413433,-0.438315,Low,False,True
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,5000.0,21,8.703704,16500.0,11.190476,0.413433,-0.438315,Low,False,True
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,5000.0,19,9.038462,16500.0,12.368421,0.449254,-0.243544,Medium,False,True
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,5500.0,24,7.833333,13950.0,9.791667,0.529851,0.194690,Low,False,True
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,5500.0,18,10.681818,17450.0,13.055556,0.529851,0.194690,Low,False,True

In [7]:
# drop original column "fuel-type" from "df"
df.drop('fuel-type', axis = 1, inplace=True)

In [8]:
df.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,peak-rpm,city-mpg,highway-L/100km,price,city-L/100km,length_new,length_zscore,horsepower-binned,fuel-type-diesel,fuel-type-gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,5000.0,21,8.703704,13495.0,11.190476,0.413433,-0.438315,Low,False,True
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,5000.0,21,8.703704,16500.0,11.190476,0.413433,-0.438315,Low,False,True
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,5000.0,19,9.038462,16500.0,12.368421,0.449254,-0.243544,Medium,False,True
3,2,164,audi,std,four,sedan,fwd,front,99.8,0.848630,...,5500.0,24,7.833333,13950.0,9.791667,0.529851,0.194690,Low,False,True
4,2,164,audi,std,four,sedan,4wd,front,99.4,0.848630,...,5500.0,18,10.681818,17450.0,13.055556,0.529851,0.194690,Low,False,True

#### create an indicator variable for the column "aspiration"

In [9]:
# get indicator variables of aspiration and assign it to data frame "dummy_variable_2"
dummy_variable_2 = pd.get_dummies(df['aspiration'])

dummy_variable_2

       std  turbo
0     True  False
1     True  False
2     True  False
3     True  False
4     True  False
..     ...    ...
196   True  False
197  False   True
198   True  False
199  False   True
200  False   True

[201 rows x 2 columns]

In [10]:
# change column names for clarity
dummy_variable_2.rename(columns={'std':'aspiration-std', 'turbo': 'aspiration-turbo'}, inplace=True)

In [11]:
# show first 5 instances of data frame "dummy_variable_1"
dummy_variable_2.head()

   aspiration-std  aspiration-turbo
0            True             False
1            True             False
2            True             False
3            True             False
4            True             False

#### Merge the new dataframe to the original dataframe, then drop the column 'aspiration'.

In [18]:
# merge the new dataframe to the original datafram
df = pd.concat([df, dummy_variable_2], axis=1)

In [19]:
df

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,city-L/100km,length_new,length_zscore,horsepower-binned,fuel-type-diesel,fuel-type-gas,aspiration-std,aspiration-turbo,aspiration-std,aspiration-turbo
0,3,122,alfa-romero,two,convertible,rwd,front,88.6,0.811148,0.890278,...,11.190476,0.413433,-0.438315,Low,False,True,True,False,True,False
1,3,122,alfa-romero,two,convertible,rwd,front,88.6,0.811148,0.890278,...,11.190476,0.413433,-0.438315,Low,False,True,True,False,True,False
2,1,122,alfa-romero,two,hatchback,rwd,front,94.5,0.822681,0.909722,...,12.368421,0.449254,-0.243544,Medium,False,True,True,False,True,False
3,2,164,audi,four,sedan,fwd,front,99.8,0.848630,0.919444,...,9.791667,0.529851,0.194690,Low,False,True,True,False,True,False
4,2,164,audi,four,sedan,4wd,front,99.4,0.848630,0.922222,...,13.055556,0.529851,0.194690,Low,False,True,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,volvo,four,sedan,rwd,front,109.1,0.907256,0.956944,...,10.217391,0.711940,1.184775,Low,False,True,True,False,True,False
197,-1,95,volvo,four,sedan,rwd,front,109.1,0.907256,0.955556,...,12.368421,0.711940,1.184775,Medium,False,True,False,True,False,True
198,-1,95,volvo,four,sedan,rwd,front,109.1,0.907256,0.956944,...,13.055556,0.711940,1.184775,Medium,False,True,True,False,True,False
199,-1,95,volvo,four,sedan,rwd,front,109.1,0.907256,0.956944,...,9.038462,0.711940,1.184775,Low,True,False,False,True,False,True
200,-1,95,volvo,four,sedan,rwd,front,109.1,0.907256,0.956944,...,12.368421,0.711940,1.184775,Low,False,True,False,True,False,True

In [21]:
# drop original column "aspiration" from "df"
df.drop('aspiration', axis = 1, inplace=True)

In [22]:
df.head()

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,city-L/100km,length_new,length_zscore,horsepower-binned,fuel-type-diesel,fuel-type-gas,aspiration-std,aspiration-turbo,aspiration-std,aspiration-turbo
0,3,122,alfa-romero,two,convertible,rwd,front,88.6,0.811148,0.890278,...,11.190476,0.413433,-0.438315,Low,False,True,True,False,True,False
1,3,122,alfa-romero,two,convertible,rwd,front,88.6,0.811148,0.890278,...,11.190476,0.413433,-0.438315,Low,False,True,True,False,True,False
2,1,122,alfa-romero,two,hatchback,rwd,front,94.5,0.822681,0.909722,...,12.368421,0.449254,-0.243544,Medium,False,True,True,False,True,False
3,2,164,audi,four,sedan,fwd,front,99.8,0.848630,0.919444,...,9.791667,0.529851,0.194690,Low,False,True,True,False,True,False
4,2,164,audi,four,sedan,4wd,front,99.4,0.848630,0.922222,...,13.055556,0.529851,0.194690,Low,False,True,True,False,True,False

In [24]:
df.to_csv('clean_df')