## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
False

False

In [2]:
print(True,False)

True False

In [3]:
type(True)

bool

In [4]:
type(False)

bool

In [5]:
my_str='Ayman1234'

In [6]:
my_str.istitle()

True

In [7]:
print('isalnum: ' , my_str.isalnum()) #check if all characters in the string are alphanumeric(either alphabets or numbers)
print('isalpha: ' , my_str.isalpha()) #check if all char in the string are alphabetic
print('isdigit: ' , my_str.isdigit()) #test if string contains digits
print('istitle: ' , my_str.istitle()) #test if string contains title words
print('isupper: ' , my_str.isupper()) #test if string contains upper case
print('islower: ' , my_str.islower()) #test if string contains lower case
print('isspace: ' , my_str.isspace()) #test if string contains spaces
print('endswith: ' , my_str.endswith('A')) #test if string endswith a d
print('startswith: ' , my_str.startswith('A')) #test if string startswith H

isalnum:  True
isalpha:  False
isdigit:  False
istitle:  True
isupper:  False
islower:  False
isspace:  False
endswith:  False
startswith:  True

### Boolean and Logical Operators

In [8]:
True and True

True

In [9]:
True and False

False

In [10]:
True or False

True

In [11]:
True or True

True

In [15]:
str_example='Hello World'
my_str='Ayman'

In [17]:
my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [24]:
##mutable vs immutable

str1="Ayman"
print(str1)
type(str1)

Ayman

str

In [25]:
str1="Ijaz"
print(str1)

Ijaz

In [30]:
##string are immutable

print(str1[2])

 str1[2]="jk"

IndentationError: unexpected indent (304077240.py, line 5)

In [32]:
##Lists are mutable

lst=[1,2,3,4,"Ayman","Helllo"]
print(lst)
lst[4]="Ijaz"
print(lst[4])

# full list
print(lst)

[1, 2, 3, 4, 'Ayman', 'Helllo']
Ijaz
[1, 2, 3, 4, 'Ijaz', 'Helllo']

In [33]:
lst=list((1,2,3,4,5))
type(lst)
print(lst)

[1, 2, 3, 4, 5]

In [34]:
lst=[1,2,3,4,5]

In [35]:
for i in lst:
    print(i**2)

1
4
9
16
25

In [36]:
min(lst)

1

In [37]:
type([])

list

In [38]:
lst_example=[]

In [39]:
type(lst_example)

list

In [40]:
lst=list()

In [41]:
type(lst)

list

In [42]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [44]:
len(lst)

6

In [45]:
type(lst)

list

### Append

In [46]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204]

In [47]:
#  append is used to add elements in the list, it take only 1 argument

lst.append("Ayman")
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Ayman']

In [48]:
lst.append(["John","Bala"])
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Ayman', ['John', 'Bala']]

In [49]:
lst[2:6]

[100, 200, 300, 204]

In [50]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Ayman', ['John', 'Bala']]

In [52]:
##Indexing in List

lst[3]

200

In [53]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

### Insert

In [54]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Ayman', ['John', 'Bala']]

In [55]:
## insert in a specific order

lst.insert(2,"Ay")

In [56]:
lst

['Mathematics',
 'chemistry',
 'Ay',
 100,
 200,
 300,
 204,
 'Ayman',
 ['John', 'Bala']]

In [57]:
lst.append(["Hello","World"])

In [58]:
lst

['Mathematics',
 'chemistry',
 'Ay',
 100,
 200,
 300,
 204,
 'Ayman',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [59]:
lst=[1,2,3]

In [60]:
lst.append([4,5])

In [61]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [62]:
lst=[1,2,3,4,5,6]

In [63]:
lst.append([8,9])
lst

[1, 2, 3, 4, 5, 6, [8, 9]]

In [64]:
lst.extend([8,9])

In [65]:
lst

[1, 2, 3, 4, 5, 6, [8, 9], 8, 9]

### Various Operations that we can perform in List

In [66]:
lst=[1,2,3,4,5]

In [67]:
sum(lst)

15

In [68]:
# multiply list 5 times

lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [70]:
for i in lst:
    print(i/5)

0.2
0.4
0.6
0.8
1.0

In [71]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [72]:
lst

[1, 2, 3, 4, 5]

### Pop() Method

In [73]:
lst=[1,2,3,4,5,6,7]

In [74]:
# removed the last element from list

lst.pop()

7

In [75]:
lst

[1, 2, 3, 4, 5, 6]

In [76]:
# removed 2, [starts from 0]
lst.pop(2)

3

In [77]:
lst

[1, 2, 4, 5, 6]

### count():Calculates total occurrence of given element of List

In [78]:
# how many number repeat

lst=[1,1,2,3,4,5,6]
lst.count(1)

2

In [79]:
#length:Calculates total length of List

len(lst)

7

In [80]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters

lst.index(1,1,4)

1

In [81]:
##Min and Max
min(lst)

1

In [82]:
max(lst)

6

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [83]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [84]:
set_var={1,2,3,4,3}

In [85]:
set_var

{1, 2, 3, 4}

In [86]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'Hitman', 'IronMan'}

set

In [87]:
set_var

{'Avengers', 'Hitman', 'IronMan'}

In [88]:
## Inbuilt function in sets

set_var.add("Hulk")
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [89]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [117]:
set2.intersection_update(set1)

In [96]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [103]:
set1={"one","two",'three'}
set2={"three","four",'five','six'}
print(set1)
print(set2)

{'two', 'one', 'three'}
{'four', 'five', 'six', 'three'}

In [104]:
##Difference 

set2.difference(set1)

{'five', 'four', 'six'}

In [105]:
# set2

##Difference 

set1.difference(set2)

{'one', 'two'}

In [106]:
## Difference update

set2.difference_update(set1)

In [107]:
print(set2)
print(set1)

{'four', 'five', 'six'}
{'two', 'one', 'three'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [118]:
dic={}

In [119]:
type(dic)

dict

In [120]:
type(dict())

dict

In [121]:
set_ex={1,2,3,4,5}

In [122]:
type(set_ex)

set

In [123]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [124]:
type(my_dict)

dict

In [125]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [126]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [127]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [128]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [129]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [130]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [131]:
my_dict['Car1']='MAruti'

In [132]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [133]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [134]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [135]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [136]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [137]:
## create an empty Tuples

my_tuple=tuple()

In [138]:
type(my_tuple)

tuple

In [139]:
my_tuple=()

In [140]:
type(my_tuple)

tuple

In [141]:
my_tuple=("one","two","three")

In [142]:
my_tuple=('Hello','World')

In [143]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [144]:
type(my_tuple)

tuple

In [149]:
## Inbuilt function
my_tuple.count('World')

1

In [148]:
my_tuple.index('Hello')

0