# Plotly
**Plotly** is a powerful and versatile open-source library used for creating interactive and visually appealing data visualizations in Python. It allows users to create a wide range of charts, graphs, and maps with ease, making it a popular choice for data analysts, scientists, and engineers. Plotly provides a rich set of features and customization options that enable users to create interactive visualizations that can be easily shared and embedded in web applications or notebooks.

**Key Features of Plotly:**

1. **Interactive Visualizations:** Plotly allows users to create interactive plots, where users can zoom, pan, hover, click, and interact with the data points to explore the underlying information.

2. **Wide Range of Chart Types:** Plotly supports various chart types such as line charts, bar charts, scatter plots, area charts, pie charts, histograms, box plots, 3D charts, and more.

3. **Export Options:** Visualizations created with Plotly can be exported in different formats like HTML, PNG, PDF, and SVG.

4. **Dash:** Plotly has a web application framework called Dash, which allows users to create interactive web applications directly from Python code.

5. **Collaboration:** Plotly charts can be easily shared and embedded in web pages, Jupyter notebooks, and other platforms for collaborative data analysis.

**Why Use Plotly:**

1. **Interactive Data Exploration:** Plotly allows users to interactively explore and understand data patterns and relationships, making it easier to draw insights from complex datasets.

2. **Customization:** Plotly offers extensive customization options, enabling users to tailor visualizations to specific requirements, including colors, annotations, and axis settings.

3. **Integration with Other Libraries:** Plotly can be easily integrated with popular Python libraries such as Pandas, NumPy, and SciPy, making it convenient to work with data stored in these formats.

4. **Rich Documentation and Community Support:** Plotly has comprehensive documentation and an active community, making it easier for users to find help, examples, and resources.

**How to Install Plotly:**

Plotly can be installed using pip, the Python package manager, with the following command:

`pip install plotly`

**Lets Plot**
- Scatter Plots
- Line Charts
- Bar Plot
- Bubble Plot
- Box Plot
- Histograms
- Distplots
- Heatmaps

## 0. Installing Plotly

<p>Use the Conda install plotly command. Visit the following link<Br>
    <a href="https://anaconda.org/plotly/plotly">https://anaconda.org/plotly/plotly</a></p>

<!-- ## 1. Introduction to Plotly

<p>
    1. Until now we did visualisations using Matplotlib, Seaborn and Pandas. All of them produce
    static image files.<br>
    2. Plotly is company based out in Canada famous for it's products like Plotly and Dash<br><br>
    3. Plotly creates interactive visualisations in the form of HTML files<br><br>
    4. Drawback- can't work with a live data source<br><br>
    5. Dash is used to create live data based dashboards.
</p> -->

In [2]:
import numpy as np
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [3]:
match=pd.read_csv('matches.csv')
delivery=pd.read_csv('deliveries.csv')

ipl=delivery.merge(match,left_on='match_id',right_on='id')
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

## 1. Scatter Plots

<img src="https://www.mathsisfun.com/data/images/scatter-ice-cream1.svg"/>

In [3]:
# Scatter plots are drawn between to continous variables
# Problem :- We are going to draw a scatter plot between Batsman Avg(X axis) and
# Batsman Strike Rate(Y axis) of the top 50 batsman in IPL(All time)

In [4]:
# Avg vs SR graph of Top 50 batsman(in terms of total runs)

# Fetching a new dataframe with Top 50 batsman
top50=ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(50).index.tolist()
new_ipl=ipl[ipl['batsman'].isin(top50)]
top50

['SK Raina',
 'V Kohli',
 'RG Sharma',
 'G Gambhir',
 'DA Warner',
 'RV Uthappa',
 'CH Gayle',
 'S Dhawan',
 'MS Dhoni',
 'AB de Villiers',
 'AM Rahane',
 'YK Pathan',
 'KD Karthik',
 'BB McCullum',
 'V Sehwag',
 'SR Watson',
 'Yuvraj Singh',
 'M Vijay',
 'SE Marsh',
 'JH Kallis',
 'AT Rayudu',
 'DR Smith',
 'KA Pollard',
 'SR Tendulkar',
 'PA Patel',
 'MK Pandey',
 'R Dravid',
 'AC Gilchrist',
 'JP Duminy',
 'MEK Hussey',
 'DPMD Jayawardene',
 'RA Jadeja',
 'SPD Smith',
 'KC Sangakkara',
 'MK Tiwary',
 'AJ Finch',
 'DA Miller',
 'WP Saha',
 'NV Ojha',
 'S Badrinath',
 'SV Samson',
 'BJ Hodge',
 'SC Ganguly',
 'DJ Hussey',
 'F du Plessis',
 'SS Tiwary',
 'DJ Bravo',
 'GJ Maxwell',
 'KK Nair',
 'TM Dilshan']

In [5]:
# Calculating SR
# SR=[(number of runs scored)/(number of balls played)]*100
runs=new_ipl.groupby('batsman')['batsman_runs'].sum()
balls=new_ipl.groupby('batsman')['batsman_runs'].count()

sr=(runs/balls)*100

sr=sr.reset_index()
sr

             batsman  batsman_runs
0     AB de Villiers    145.129059
1       AC Gilchrist    133.054662
2           AJ Finch    126.299213
3          AM Rahane    117.486549
4          AT Rayudu    123.014257
5        BB McCullum    126.318203
6           BJ Hodge    121.422376
7           CH Gayle    144.194313
8          DA Miller    137.709251
9          DA Warner    138.318401
10          DJ Bravo    122.286822
11         DJ Hussey    120.072661
12  DPMD Jayawardene    118.791064
13          DR Smith    132.279534
14      F du Plessis    124.161074
15         G Gambhir    120.361200
16        GJ Maxwell    157.564103
17         JH Kallis    105.936272
18         JP Duminy    121.970624
19        KA Pollard    140.621266
20     KC Sangakkara    118.469101
21        KD Karthik    123.008475
22           KK Nair    124.650161
23           M Vijay    120.028681
24        MEK Hussey    119.963592
25         MK Pandey    116.938453
26         MK Tiwary    114.127424
27          MS Dhoni    132.835821
28           NV Ojha    114.528024
29          PA Patel    112.718447
30          R Dravid    113.347237
31         RA Jadeja    118.792867
32         RG Sharma    128.497251
33        RV Uthappa    127.635135
34       S Badrinath    115.742972
35          S Dhawan    118.502496
36        SC Ganguly    101.734540
37          SE Marsh    130.109775
38          SK Raina    134.995548
39         SPD Smith    128.507127
40      SR Tendulkar    114.187867
41         SR Watson    134.838379
42         SS Tiwary    114.851485
43         SV Samson    122.403433
44        TM Dilshan    110.124164
45           V Kohli    126.588437
46          V Sehwag    148.827059
47           WP Saha    127.727646
48         YK Pathan    140.751445
49      Yuvraj Singh    126.390244

In [6]:
# Calculating Avg
# Avg=(Total number of Runs)/(Number of outs)

# Calculating number of outs for top 50 batsman
out=ipl[ipl['player_dismissed'].isin(top50)]

nouts=out['player_dismissed'].value_counts()

avg=runs/nouts

avg=avg.reset_index()
avg.rename(columns={'index':'batsman',0:'avg'},inplace=True)

avg=avg.merge(sr,on='batsman')
avg

             batsman        avg  batsman_runs
0     AB de Villiers  38.307692    145.129059
1       AC Gilchrist  27.223684    133.054662
2           AJ Finch  27.186441    126.299213
3          AM Rahane  33.593407    117.486549
4          AT Rayudu  27.146067    123.014257
5        BB McCullum  28.112245    126.318203
6           BJ Hodge  33.333333    121.422376
7           CH Gayle  41.022472    144.194313
8          DA Miller  34.733333    137.709251
9          DA Warner  40.140000    138.318401
10          DJ Bravo  22.945455    122.286822
11         DJ Hussey  26.979592    120.072661
12  DPMD Jayawardene  28.250000    118.791064
13          DR Smith  28.392857    132.279534
14      F du Plessis  30.116279    124.161074
15         G Gambhir  31.541985    120.361200
16        GJ Maxwell  25.081633    157.564103
17         JH Kallis  28.552941    105.936272
18         JP Duminy  39.860000    121.970624
19        KA Pollard  28.707317    140.621266
20     KC Sangakkara  25.953846    118.469101
21        KD Karthik  24.811966    123.008475
22           KK Nair  25.173913    124.650161
23           M Vijay  26.431579    120.028681
24        MEK Hussey  38.764706    119.963592
25         MK Pandey  28.500000    116.938453
26         MK Tiwary  29.428571    114.127424
27          MS Dhoni  37.872340    132.835821
28           NV Ojha  20.986486    114.528024
29          PA Patel  21.700935    112.718447
30          R Dravid  28.233766    113.347237
31         RA Jadeja  24.055556    118.792867
32         RG Sharma  32.612403    128.497251
33        RV Uthappa  29.515625    127.635135
34       S Badrinath  30.659574    115.742972
35          S Dhawan  32.669725    118.502496
36        SC Ganguly  25.452830    101.734540
37          SE Marsh  39.507937    130.109775
38          SK Raina  33.940299    134.995548
39         SPD Smith  37.239130    128.507127
40      SR Tendulkar  33.826087    114.187867
41         SR Watson  30.917647    134.838379
42         SS Tiwary  28.355556    114.851485
43         SV Samson  25.464286    122.403433
44        TM Dilshan  26.813953    110.124164
45           V Kohli  37.483051    126.588437
46          V Sehwag  27.555556    148.827059
47           WP Saha  25.524590    127.727646
48         YK Pathan  29.816327    140.751445
49      Yuvraj Singh  25.653465    126.390244

In [15]:
# Plot Scatter Plot here

trace = go.Scatter(x=avg['avg'],y=avg['batsman_runs'],
                  mode='markers',text=avg['batsman'],  #dots are markers
                  marker={'color': '#00a65a', 'size':16}
                  )
data=[trace]
data

layout=go.Layout(title='Batsman Avg vs SR',
                xaxis={'title': 'batsman Avarage'},
                yaxis={'title': 'Batsman Strike Rate'})
fig=go.Figure(data=data, layout=layout)
pyo.plot(fig, filename='myfile.html')

'myfile.html'

## 2. Line Chart

<p>It's an extension of Scatter plot. Usually used to show a time series data</p>
<img src='https://apexcharts.com/wp-content/uploads/2018/01/basic-line-chart.svg'/>

In [24]:
# Year by Year batsman performance

single=ipl[ipl['batsman']=='V Kohli']
performance=single.groupby('season')['batsman_runs'].sum().reset_index()
performance

#add 2nd batsman

single1=ipl[ipl['batsman']=='MS Dhoni']
performance1=single1.groupby('season')['batsman_runs'].sum().reset_index()
performance1

   season  batsman_runs
0    2008           414
1    2009           332
2    2010           287
3    2011           392
4    2012           357
5    2013           461
6    2014           371
7    2015           372
8    2016           284
9    2017           290

In [27]:
# Plot Line Chart here for 2 batsman

trace=go.Scatter(x=performance['season'],y=performance['batsman_runs'], #3
                mode='lines + markers',
                marker={'color': '#00a65a'}, name='v kholi')


trace1=go.Scatter(x=performance['season'],y=performance1['batsman_runs'], #3
                mode='lines + markers',
                marker={'color': 'red'}, name='Ms dhoni')

data=[trace, trace1]
layout=go.Layout(title= 'year by year performance',
                xaxis={'title': 'Season'},
                yaxis={'title': 'Total runs'})


fig=go.Figure(data=data,layout=layout) #2
pyo.plot(fig) #1

'temp-plot.html'

In [ ]:
# Plot Line Chart here

trace=go.Scatter(x=performance['season'],y=performance['batsman_runs'], #3
                mode='lines + markers',
                marker={'color': '#00a65a'})

data=[trace]
layout=go.Layout(title= 'year by year performance',
                xaxis={'title': 'Season'},
                yaxis={'title': 'Total runs'})


fig=go.Figure(data=data,layout=layout) #2
pyo.plot(fig) #1

In [28]:
# Multiple Line Charts

def batsman_comp(*name):
    data=[]
    for i in name:
        single=ipl[ipl['batsman']==i]
        performance=single.groupby('season')['batsman_runs'].sum().reset_index()

        trace=go.Scatter(x=performance['season'],y=performance['batsman_runs']
                         ,mode='lines + markers',name=i)
        
        data.append(trace)
    
    layout=go.Layout(title='Batsman Record Comparator',
                xaxis={'title':'Season'},
                yaxis={'title':'Runs'})

    fig=go.Figure(data=data,layout=layout)

    pyo.plot(fig,filename='year_by_year')

In [29]:
batsman_comp('V Kohli', 'RG Sharma','DA Warner','MS Dhoni')

C:\Users\ayman\AppData\Local\Programs\Python\Python311\Lib\site-packages\plotly\offline\offline.py:562: UserWarning:

Your filename `year_by_year` didn't end with .html. Adding .html to the end of your file.

## 3. Bar Plot

<p>Used to show relation between one categorical and 1 numerical data</p>
<img src="https://images.ctfassets.net/fevtq3bap7tj/5FSJrJeDIIGAmGCsGcQ8S4/e2fc867a487614b47f72104a36fbcf7f/simple-column.png"/>

In [30]:
top10=ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10).index.tolist()
top10_df=ipl[ipl['batsman'].isin(top10)]

In [31]:
top10_score=top10_df.groupby('batsman')['batsman_runs'].sum().reset_index()
top10_score

          batsman  batsman_runs
0  AB de Villiers          3486
1        CH Gayle          3651
2       DA Warner          4014
3       G Gambhir          4132
4        MS Dhoni          3560
5       RG Sharma          4207
6      RV Uthappa          3778
7        S Dhawan          3561
8        SK Raina          4548
9         V Kohli          4423

In [34]:
# Plot Bar Graph

trace = go.Bar(x = top10_score['batsman'],
               y=top10_score['batsman_runs'],
              marker={'color': '#00a65a'})

data=[trace]

layout = go.Layout(title='Top 10 IPL batsman',
                  xaxis={'title': 'Batsman'},
                  yaxis={'title': 'Total Runs'})

fig=go.Figure(data=data,layout=layout)

pyo.plot(fig)

'temp-plot.html'

### There are 2 types of Bar Graphs
<p>
    1. Nested Bar Graph<Br>
    2. Stacked Bar Graph<br>
    3. Overlayed Bar Graph
</p>

In [35]:
iw=top10_df.groupby(['batsman','inning'])['batsman_runs'].sum().reset_index()
mask=iw['inning']==1
mask2=iw['inning']==2
one=iw[mask]
two=iw[mask2]


one.rename(columns={'batsman_runs':'1st Innings'},inplace=True)
two.rename(columns={'batsman_runs':'2nd Innings'},inplace=True)

final=one.merge(two,on='batsman')[['batsman','1st Innings','2nd Innings']]

final

C:\Users\ayman\AppData\Local\Temp\ipykernel_12760\3773990239.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ayman\AppData\Local\Temp\ipykernel_12760\3773990239.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          batsman  1st Innings  2nd Innings
0  AB de Villiers         2128         1345
1        CH Gayle         2003         1623
2       DA Warner         2118         1896
3       G Gambhir         1699         2433
4        MS Dhoni         2232         1328
5       RG Sharma         2344         1863
6      RV Uthappa         1516         2262
7        S Dhawan         2262         1299
8        SK Raina         2647         1893
9         V Kohli         2391         2027

#### 1. Nested Bar Graph

In [38]:
# Plot Bar Chart here

trace1 = go.Bar(x=final['batsman'],
               y=final['1st Innings'],
               name = '1st inning',
               marker={'color':'red'})

trace2 = go.Bar(x=final['batsman'],
               y=final['2nd Innings'],
               name = '2nd inning',
               marker={'color':'orange'})

data=[trace1,trace2]

layout=go.Layout(title='Inning wise Score',
                xaxis={'title':'Batsman'},
                yaxis={'title':'Runs'})

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig)

'temp-plot.html'


### 3. Overlayed Bar Graph

In [50]:
# Plot Bar Chart | Overlay

trace1 = go.Bar(x=final['batsman'],
               y=final['1st Innings'],
               name = '1st inning',
               marker={'color':'#87B6A2'})

trace2 = go.Bar(x=final['batsman'],
               y=final['2nd Innings'],
               name = '2nd inning',
               marker={'color':'#D0CA46'})

data=[trace1,trace2]

layout=go.Layout(title='Inning wise Score',
                xaxis={'title':'Batsman'},
                yaxis={'title':'Runs'},
                barmode='overlay')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig)

'temp-plot.html'

### 2. Stacked Bar Graph

In [48]:
# Plot Bar Chart | Stacked

trace1 = go.Bar(x=final['batsman'],
               y=final['1st Innings'],
               name = '1st inning',
               marker={'color':'#D0CA46'}) # color #D0CA46

trace2 = go.Bar(x=final['batsman'],
               y=final['2nd Innings'],
               name = '2nd inning',
               marker={'color':'#87B6A2'}) ##A95C68, turquoise, #F1960C

data=[trace1,trace2]

layout=go.Layout(title='Inning wise Score',
                xaxis={'title':'Batsman'},
                yaxis={'title':'Runs'},
                barmode='stack')

fig = go.Figure(data=data, layout=layout)

pyo.plot(fig)

# error: The 'barmode' property is an enumeration that may be specified as:
#      - One of the following enumeration values:
#            ['stack', 'group', 'overlay', 'relative']

'temp-plot.html'

## 4. Bubble Plot
<p>Again an extension of Scatter plot. with some additional informations</p>
<img src="https://www.data-to-viz.com/graph/bubble_files/figure-html/unnamed-chunk-1-1.png"/>

In [63]:
new_ipl=new_ipl[new_ipl['batsman_runs']==6]

six=new_ipl.groupby('batsman')['batsman_runs'].count().reset_index()

x=avg.merge(six,on='batsman')

x.head()

          batsman        avg  batsman_runs_x  batsman_runs_y
0  AB de Villiers  38.307692      145.129059             158
1    AC Gilchrist  27.223684      133.054662              92
2        AJ Finch  27.186441      126.299213              59
3       AM Rahane  33.593407      117.486549              60
4       AT Rayudu  27.146067      123.014257              79

In [56]:
trace

Bar({
    'marker': {'color': '#00a65a'},
    'x': array(['AB de Villiers', 'CH Gayle', 'DA Warner', 'G Gambhir', 'MS Dhoni',
                'RG Sharma', 'RV Uthappa', 'S Dhawan', 'SK Raina', 'V Kohli'],
               dtype=object),
    'y': array([3486, 3651, 4014, 4132, 3560, 4207, 3778, 3561, 4548, 4423], dtype=int64)
})

**Explanation:**

1. The code starts by importing necessary modules, `plotly.graph_objects` as `go` and `plotly.offline` as `pyo`.

2. The sample data `x` contains three lists: `avg` for the X-axis, `batsman_runs_x` for the Y-axis, and `batsman_runs_y` for the bubble size.

3. The `go.Scatter()` function is used to create a scatter plot with mode set to 'markers', representing a bubble chart. The `x`, `y`, and `marker` attributes are set to the respective data lists.

4. The `trace` variable is then added to the `data` list. The `data` list should contain all the traces that need to be plotted on the chart.

5. A layout is defined using `go.Layout()`, which sets the chart's title and axis labels.

6. Finally, a figure is created using `go.Figure()` with `data` and `layout` as arguments.

7. The chart is displayed using `pyo.plot()`.

In [64]:
# Plot Bubble chart here

# Create a scatter plot using go.scatter()
trace = go.Scatter(
    x=x['avg'],
    y=x['batsman_runs_x'],
    mode='markers',
    marker={'size': x['batsman_runs_y']}
)

# Put the scatter plot trace into a list (data should be a list of traces)
data = [trace]

# Create the layout for the chart
layout = go.Layout(
    title='Bubble Chart',
    xaxis={'title': 'Average'},
    yaxis={'title': 'Strike Rate'}
)

# Create the figure using go.Figure()
fig = go.Figure(data=data, layout=layout)

# Show the chart using pyo.plot()
pyo.plot(fig)

'temp-plot.html'

## 5. Box Plot

<p>A box and whisker plotâ€”also called a box plotâ€”displays the five-number summary of a set of data.</p>
<img src="https://miro.medium.com/max/18000/1*2c21SkzJMf3frPXPAR_gZA.png"/>

In [66]:
match_agg=delivery.groupby(['match_id'])['total_runs'].sum().reset_index()
season_wise=match_agg.merge(match,left_on='match_id',right_on='id')[['match_id','total_runs','season']]
season_wise

     match_id  total_runs  season
0           1         379    2017
1           2         371    2017
2           3         367    2017
3           4         327    2017
4           5         299    2017
..        ...         ...     ...
631       632         277    2016
632       633         317    2016
633       634         302    2016
634       635         325    2016
635       636         408    2016

[636 rows x 3 columns]

In [76]:
# Plot Box Plot here | single plot

trace = go.Box(x=season_wise['total_runs'],
               name='ALL Seasons',
               marker={'color':'#87B6A2'})

data = [trace]

layout = go.Layout(title='Total Score Analysis',
                  xaxis={'title':'Total Score'})

fig = go.Figure(data = data,
               layout=layout
               )

pyo.plot(fig)

'temp-plot.html'

In [82]:
# Plot Box Plot here 

trace_1 = go.Box(x = season_wise[season_wise['season']==2017]['total_runs'],
               name='2017',
               marker={'color':'#87B6A2'})

trace_2 = go.Box(x = season_wise[season_wise['season']==2016]['total_runs'],
               name='2016',
               marker={'color':'#D0CA46'})

data = [trace_1,trace_2]

layout = go.Layout(title='Total Score Analysis',
                  xaxis={'title':'Total Score'})

fig = go.Figure(data = data,
               layout=layout
               )

pyo.plot(fig)

'temp-plot.html'

In [73]:
season_wise[season_wise['season']==2017]
season_wise[season_wise['season']==2017]['total_runs']

season_wise[season_wise['season']==2017]['total_runs'].head()

0    379
1    371
2    367
3    327
4    299
Name: total_runs, dtype: int64

### 6. Histograms

<p>A histogram is a plot that lets you discover, and show, the underlying frequency distribution (shape) of a set of continuous data.</p>

<img src="https://www.math-only-math.com/images/histogram-problems.png"/>

In [83]:
x=delivery.groupby('batsman')['batsman_runs'].count()>150
x=x[x].index.tolist()

new=delivery[delivery['batsman'].isin(x)]


runs=new.groupby('batsman')['batsman_runs'].sum()
balls=new.groupby('batsman')['batsman_runs'].count()

sr=(runs/balls)*100

sr=sr.reset_index()
sr

             batsman  batsman_runs
0     A Ashish Reddy    142.857143
1           A Mishra     89.005236
2          A Symonds    124.711908
3    AA Jhunjhunwala     99.541284
4         AB Agarkar    111.875000
..               ...           ...
157          Y Nagar    105.166052
158  Y Venugopal Rao    113.872832
159        YK Pathan    140.751445
160      YV Takawale    104.918033
161     Yuvraj Singh    126.390244

[162 rows x 2 columns]

In [93]:
# Plot Histogram

trace = go.Histogram(x=sr['batsman_runs'], 
                     xbins={'size':2,
                           'start': 50,
                           'end': 100})

data=[trace]

layout = go.Layout(title='Strike Rate Analysis',
                  xaxis={'title':'Strike Rates'})

fig = go.Figure(data = data, layout=layout)

pyo.plot(fig)

'temp-plot.html'

### 7. Distplots

<p></p>
<img src="https://plot.ly/~PythonPlotBot/10/customized-distplot.png"/>

In [85]:
# Plot Distplot

import plotly.figure_factory as ff

hist_data=[avg['avg'], avg['batsman_runs']]

group_labels=['Average', 'Strike Rate']

fig=ff.create_distplot(hist_data,group_labels,bin_size=[10,20])

pyo.plot(fig)

'temp-plot.html'

### 8. Heatmaps

<p>A heat map is a graphical representation of data where the individual values contained in a matrix are represented as colors.</p>

<!-- <img src="https://seaborn.pydata.org/_images/heatmap_annotation.png"/> -->
<img src="https://seaborn.pydata.org/_images/spreadsheet_heatmap.png"/>

In [94]:
six=delivery[delivery['batsman_runs']==6]
six=six.groupby(['batting_team','over'])['batsman_runs'].count().reset_index()

six

            batting_team  over  batsman_runs
0    Chennai Super Kings     1             5
1    Chennai Super Kings     2            17
2    Chennai Super Kings     3            37
3    Chennai Super Kings     4            34
4    Chennai Super Kings     5            41
..                   ...   ...           ...
271  Sunrisers Hyderabad    16            22
272  Sunrisers Hyderabad    17            18
273  Sunrisers Hyderabad    18            37
274  Sunrisers Hyderabad    19            42
275  Sunrisers Hyderabad    20            28

[276 rows x 3 columns]

In [95]:
# Plot Heatmap

trace=go.Heatmap(x=six['batting_team'],y=six['over'],z=six['batsman_runs'])

data=[trace]

layout=go.Layout(title='Six Heatmap')

fig=go.Figure(data=data,layout=layout)

pyo.plot(fig)

'temp-plot.html'

In [96]:
# Side by Side Heatmap

dots=delivery[delivery['batsman_runs']==0]
dots=dots.groupby(['batting_team','over'])['batsman_runs'].count().reset_index()

from plotly import tools

trace1=go.Heatmap(x=six['batting_team'],y=six['over'],
                 z=six['batsman_runs'].values.tolist())

trace2=go.Heatmap(x=dots['batting_team'],y=dots['over'],
                 z=dots['batsman_runs'].values.tolist())


fig=tools.make_subplots(rows=1,cols=2,subplot_titles=["6's","0's"], shared_yaxes=True)

fig.append_trace(trace1,1,1)
fig.append_trace(trace2,1,2)

pyo.plot(fig)

C:\Users\ayman\AppData\Local\Programs\Python\Python311\Lib\site-packages\plotly\tools.py:460: DeprecationWarning:

plotly.tools.make_subplots is deprecated, please use plotly.subplots.make_subplots instead

'temp-plot.html'

In [97]:
dots

            batting_team  over  batsman_runs
0    Chennai Super Kings     1           524
1    Chennai Super Kings     2           462
2    Chennai Super Kings     3           432
3    Chennai Super Kings     4           421
4    Chennai Super Kings     5           376
..                   ...   ...           ...
275  Sunrisers Hyderabad    16           144
276  Sunrisers Hyderabad    17           157
277  Sunrisers Hyderabad    18           128
278  Sunrisers Hyderabad    19           130
279  Sunrisers Hyderabad    20           117

[280 rows x 3 columns]